html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

a, a:hover {
    color: inherit;
}

nav {
    font-family: "Josefin Sans", sans-serif;
    background-color: #2E997B;
    border-bottom: 1px solid black;
}

img {
  max-width: 100%;
  height: auto;
}

body, main {
    font-family: "Josefin Sans", sans-serif;
    background-color: #FFFED7;
}

.jumbotron {
    background-image: url("/img/epb01-head.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2E997B;
    border-bottom: 1px solid black;
    color: white;
}

/* STYLING FOR EACH SECTION */
.bkln {
    font-family: "Arizonia", cursive;
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: normal;
}
.where {
    color: #4DB819;
}
.menus {
    color: #C61B3D;
}
.about {
    color: #4D4DFF;
}
.contact {
    color: #D55F1D;
}


/* FOR GOOGLE MAP EMBEDDING */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}