html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  text-align: center;
}

a,
a:hover {
  color: inherit;
}

hr {
  border-color: black;
  margin: 0 5em 0 5em;
}

nav {
  font-family: "Josefin Sans", sans-serif;
  background-color: #2e997b;
  border-bottom: 1px solid black;
}

img {
  max-width: 100%;
  height: auto;
}

body,
main {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fffed7;
}

.jumbotron {
  background-image: url("/img/epb01-head.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #2e997b;
  border-bottom: 1px solid black;
  color: white;
}

/* STYLING FOR EACH SECTION */
.bkln {
  font-family: "Arizonia", cursive;
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: normal;
}
.where {
  color: #d55f1d;
}
.menus {
  color: #c61b3d;
}
.about {
  color: #d55f1d;
}
.contact {
  color: #c61b3d;
}

/* FOR GOOGLE MAP EMBEDDING */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
